[2014-10-27 10:01] kilianc opened #1 "Create webapp for log reading"

[2014-10-27 10:02] kilianc opened #2 "Update README.md with rtail-server and examples"
* UDP broadcast
* use cases
* rtail-server

[2014-10-27 10:03] kilianc opened #3 "Write test suite"
also add .travis.yml

[2014-10-27 10:06] kilianc opened #4 "create man page"

[2014-10-27 10:06] kilianc opened #5 "publish on brew"

[2014-10-28 07:53] kilianc opened #6 "parse colors in frontend"

[2014-10-28 07:54] kilianc opened #7 "collapse / expand json lines"

[2014-10-28 07:57] kilianc opened #8 "Write sidebar listing incoming log streams"
* search box
* favorites using localStorage
* activity indicator per each stream

[2014-10-28 08:09] kilianc opened #9 "make the log view look like a terminal"
![screen shot 2014-10-28 at 09 08 26](https://cloud.githubusercontent.com/assets/385716/4805194/a2530970-5e79-11e4-8305-b4e58261ccdf.png)

[2014-10-30 08:48] kilianc opened #10 "design a logo"
maybe something with a tail ? :D

[2014-10-31 19:48] kilianc opened #11 "add shell autocomplete"

[2014-11-02 09:57] kilianc opened #12 "update readme to mention `DEBUG=rtail:*`"
on `rtail-server` we now use `debug` which means log output is off by default unless we use `DEBUG=rtail:*` or `DEBUG=rtail:udp` or `DEBUG=rtail:webapp`

[2014-11-02 14:27] kilianc opened #13 "update README with npm badge"

[2015-01-22 11:28] mfornasa opened #16 "Typo on README.md"
Line 86. ratil -> rtail

[2015-01-26 13:54] kilianc commented on #16
closed by 6da9de15c31cb61f4da11ab0ee6d58a0a6106d1d

[2015-01-26 13:54] #16 closed

[2015-05-27 21:47] kilianc opened #17 "add collapsable timestamp column"

[2015-05-27 21:47] kilianc opened #18 "add deep linking to one stream"

[2015-05-27 21:48] kilianc opened #19 "define list of fonts on google fonts"

[2015-05-27 21:48] kilianc opened #20 "define color palette for ansi terminal color"

[2015-05-27 21:49] kilianc opened #21 "add support for regexp in filters"

[2015-05-27 21:49] kilianc opened #22 "add app loader"

[2015-05-27 21:49] kilianc opened #23 "add google analytics"

[2015-05-27 21:50] kilianc opened #24 "add mixpanel"

[2015-05-27 21:51] kilianc opened #25 "add wercker ci"

[2015-05-27 21:52] kilianc opened #26 "define / add animations"

[2015-05-27 21:52] kilianc opened #27 "find solution for long name in sidebar"

[2015-05-27 21:55] kilianc opened #28 "use svg icons for both themes"

[2015-05-27 22:14] lucaorio opened #29 "stats/split screen"

[2015-05-27 22:20] lucaorio opened #30 "one-page"
w/ interactive tool

[2015-05-27 23:13] #2 closed

[2015-05-27 23:13] lucaorio commented on #20
*Light Theme Ansi Color Scheme:*
| Color / Version  | Normal | Bright |
| - | - | - |
| Black | #6D6D6D | #000000 |
| Red | #C0392B  | #E74C3C |
| Green | #27AF60 | #2ECC71 |
| Yellow | #F39C12  | #F1C40F |
| Blue | #2E8DCD | #3498DB |
| Magenta | #8E44AD  | #9B59B6 |
| Cyan | #0097A4 | #02C8D9 |
| White | #D8D6D6  | #A7A7A7 |

![webapp-light-ansi-color 2x](https://cloud.githubusercontent.com/asse

[2015-05-27 23:16] kilianc commented on #20
| First Header  | Second Header |
| ------------- | ------------- |
| Content Cell  | Content Cell  |
| Content Cell  | Content Cell  |

[2015-05-27 23:22] #20 closed

[2015-05-27 23:23] kilianc commented on #13
Actually we should add also wercker and waffle badges other than the ones that I used here: https://github.com/kilianc/mongoose-range-paginate

[2015-05-28 01:54] #12 closed

[2015-05-28 01:54] #28 closed

[2015-05-28 01:54] #9 closed

[2015-05-28 01:54] #6 closed

[2015-05-28 01:54] #8 closed

[2015-05-28 01:54] #1 closed

[2015-05-28 01:55] kilianc opened #32 "use new color for ANSI"
use #20

[2015-05-28 02:12] #25 closed

[2015-05-28 02:13] #13 closed

[2015-05-28 02:44] #32 closed

[2015-05-28 03:23] kilianc commented on #19
@lucaorio

* Source Sans Pro
* Source Code Pro
* Roboto
* Inconsolata
* Open Sans

what you think?

[2015-05-28 05:25] kilianc opened #36 "update README for v0.1.0 release"

[2015-05-28 17:34] lucaorio commented on #19
I think they look great!

Based on this poll http://www.slant.co/topics/67/~what-are-the-best-programming-fonts I would add one of these too:

* Anonymous Pro
* Ubuntu Mono
* Droid Sans Mono

[2015-05-28 18:01] kilianc commented on #19
:+1: let's take a look at these live before merging the PR

[2015-05-28 18:03] kilianc opened #37 "add .npmignore"

[2015-05-28 20:42] kilianc opened #38 "push design files using new git lfs"

[2015-05-29 22:18] #19 closed

[2015-05-29 23:33] #37 closed

[2015-05-30 00:00] #36 closed

[2015-06-01 17:27] rmchale opened #42 "make backlog size configurable"
I was using this for a java log and a stacktrace was longer than the buffer.  If I have the available RAM could there be an option to control the buffer size?

In the mean time is there a place I can hack this in?

[2015-06-01 17:31] kilianc commented on #42
can you please post the stack trace or any error log you have?

[2015-06-01 17:35] rmchale commented on #42
Sure.  FWIW, I think we routinely set out logging buffers to between 1000 & 10K lines.

[2015-06-01 17:36] kilianc commented on #42
ok so by `buffer` you mean backlog size? the amount of lines you can see in the webapp at the same time ?

[2015-06-01 17:37] rmchale commented on #42
Yes, exactly.

[2015-06-01 17:41] kilianc commented on #42
at the moment we have 100 lines as value, based on the purpose itself of rtail, I guess adding `--backlog-size` won't hurt but I need to patch the webapp also.

I'll mark this as feature request and make it happen by EOW.

Meanwhile git clone and search and replace for `100` it whould match 2 lines on both app and cli.
then `gulp app` and `npm link` and you're set.

Dev notes are not ready yet.

[2015-06-01 17:42] rmchale commented on #42
Thanks!

[2015-06-01 17:45] kilianc commented on #42
https://github.com/kilianc/rtail/blob/develop/cli/rtail-server.js#L101
https://github.com/kilianc/rtail/blob/develop/app/app.ejs#L18

[2015-06-12 05:15] kilianc commented on #42
after putting some thought in it, I decided to not implement this functionality. I would like to understand what exactly is your use case and why you need it. The reason I am reluctant to allow big buffer sizes is that this thing runs in the browser and we have `BUFFER_SIZE` dom elements inside an ng-repeat.

Performances will drop drastically with too many elements.

The purpose of this is to hav

[2015-06-12 05:15] #42 closed

[2015-06-12 15:05] rmchale commented on #42
I am trying to look at log data.  My use case was that got a stacktrace and
it didn't even fit into 100 lines.  Meaning I couldn't even see the error I
needed to look at. Which is why I was using rtail in the first place.  I am
unable to use rtail to view the logs and forced to go back to using tail.

Ryan

------------------------------
<http://blog.mchaler.org>  <http://twitter.com/rmchale>
<htt

[2015-06-12 15:09] rmchale commented on #42
This is the logging for ONE request in my app.  As you can see its well over 100 lines

2015-03-30 14:57:00,065 INFO  [][89f0ee6696] com.networkedinsights.rest.search.elasticsearch.SearchExecution$QueryLogger - Query for cluster esdev_aud_vert on indices [[media_2015_05, media_2015_07, media_2015_06, media_2015_08]]:{
  "size" : 0,
  "query" : {
    "query_string" : {
      "query" : "smartwatch,

[2015-06-12 15:21] kilianc commented on #42
@rmchale thanks for explaining this to me, I appreciate it!

Now it seems like yours is an edge case where a `log line` in your case it's even a json object, translates in multiple lines because is formatted at the source.

Logs, by definitions are one line and delimited by `\n`, is there any way that you can make your logger emit a non formatted json object? rtail takes care of it already and you

[2015-06-12 15:42] rmchale commented on #42
For a terminal you change the scrollback options.  There are several instances where a single request in our systems logs more than 100 lines.  I am not particularly interested in reengineering logging to make a log viewer tool work.  I will just find a different tool.

[2015-06-12 15:47] kilianc commented on #42
@rmchale well, was just trying to understand your particular case :) happy hunting!

[2015-06-25 00:21] kilianc opened #44 "add github signin integration"
We should add a OAuth integration for organizations and personal account as basic authorization layer for the webapp and websocket.

Rancher UI has a similar approach were they ask you to setup it up on first spin-up. Since there is no storage layer it's still unclear how to make this happen.

I guess writing a file in `rtail-server` `cwd` would work.

[2015-06-25 00:31] kilianc opened #45 "add optional TLS support for http/webapp server"
This is meant to be used behind a reverse proxy but in case someone can't or won't it costs us nothing to support http for webapp and websocket.

[2015-06-25 01:22] kilianc opened #46 "design a resize handler for split pane"

[2015-06-29 20:11] #30 closed

[2015-06-29 20:14] kilianc commented on #46
Something to replace the red rectangle

![fyjcfqms5jej2zuwknxvzggoq_xgi-4_1vr-r2kp1tu](https://cloud.githubusercontent.com/assets/385716/8417345/cd55c868-1e60-11e5-9fc7-c9840cc2cc25.png)

[2015-06-30 06:54] kilianc opened #48 "parse lines for dates and use as timestamp"
If the log line starts with a date we should be able to parse it and remove it. We can then serialize it as `.timestamp` and display it in the timestamp column in the UI.

I think we need a `--parse-date` and `--no-parse-date` flag in `client.js` to allow to turn it off.

[2015-06-30 23:31] #48 closed

[2015-06-30 23:31] #27 closed

[2015-06-30 23:31] kilianc commented on #46
closing, we adopted only `col-resize` cursor

[2015-06-30 23:31] #46 closed

[2015-06-30 23:33] kilianc commented on #30
website as been designed and implement https://github.com/kilianc/rtail/tree/website

[2015-07-01 00:02] timriot opened #49 "orient rTail animation to the left, instead of center in website heading"
When typing at a prompt, the > doesn't usually move as text is input. The current animation build from center breaks the connection with the CLI.

[2015-07-01 21:30] timriot opened #50 "connect favoriting UI directly to stream list"
Presently, the favorite UI / process is disconnected from the list of streams. Adding favorite stars to the onHover of stream list items will create a more coherent mental connection.

Also, the favorites title should be removed when there are no favorites.

[2015-07-01 23:20] timriot commented on #49
Landed 813e424371d5a3321704fb087925d06a0ad7d8bf

[2015-07-01 23:20] #49 closed

[2015-07-02 00:26] timriot opened #52 "pop-up triangle is the wrong color"
![r331mb_hk33j31vouhw-o9imwn7y8rehj4velmv_nis](https://cloud.githubusercontent.com/assets/1869621/8467663/305a2042-2016-11e5-9e90-54720bc0e5ca.png)

[2015-07-02 03:05] kilianc opened #53 "better social image"
I designed one myself but it would be nice if one of the designers would give it a shot cc/ @lucaorio @SorelMihai @timriot

https://developers.facebook.com/tools/debug/og/object?q=rtail.org

This is what it looks like now if you share it on FB

![](https://www.dropbox.com/s/u5zirnits4mshwc/Screenshot%202015-07-01%2020.04.43.png?dl=1)

[2015-07-02 03:07] kilianc commented on #52
thanks for reporting this, I must be color blind.

[2015-07-02 03:08] kilianc commented on #50
Definitively an improvement, this will probably land on `v0.3`

[2015-07-03 21:56] timriot commented on #53
PR https://github.com/kilianc/rtail/pull/54 cover this.

[2015-07-04 03:31] #53 closed

[2015-07-06 06:25] kilianc opened #55 "show alert if using an old version of the webapp / server"
this will push people to ask devop to use `--web-version stable`

[2015-07-08 03:56] nodesocket opened #57 "How hard would adding persistence be?"
Perhaps the server could store lines to something like [RethinkDB](http://rethinkdb.com)?

[2015-07-08 04:07] kilianc commented on #57
@nodesocket good question and thanks for contributing.

Adding persistence requires a lot of work, mostly on the UI side. A robust implementation of an infinite scroll and pull/search api is needed. I am aware it would make this a better tool and cover a lot of use cases.

The direction this project is heading ATM is to sit and wait what people think it should do and we can move it from there. `v0

[2015-07-08 04:15] kilianc opened #58 "Escape html for string logs"
prob using `component/escape-html`

[2015-07-08 07:29] financedemo opened #59 "Make winston plugin"
I think first is to make it work programmatically

[2015-07-08 07:56] kilianc commented on #59
Yeah regardless I need to make it work programmatically, it will help writing tests. The winston plugin then could just require the lib.

[2015-07-08 08:31] #3 closed

[2015-07-08 08:54] #58 closed

[2015-07-08 12:34] Malet opened #61 "rtail.org rick roll?"
rtail.org seems to be redirecting to youtube (rick roll 10 hours) on page load. It's a great track, but er, I'd kinda like to see the thing in action.

[2015-07-08 12:36] dark0dave commented on #61
Hey, I recommended this :P. But yes it redirects hahaha.

[2015-07-08 14:00] YottaSecond commented on #61
+1

[2015-07-08 14:06] MSylvia opened #62 "XSS Issue"
Any code in the `content` field get evaluated.

    [
       "line",
       {
          "timestamp":0000000000000,
          "streamid":"rtail.org",
          "host":"XXX.XXX.XXX.XXX",
          "port":50049,
          "content":"<script>window.top.location.href=\"http://www.google.com\"</script>",
          "type":"string"
       }
    ]

This would redirect the user to `http://www.google.com`

[2015-07-08 14:08] MSylvia commented on #62
Also see Issue #61.

[2015-07-08 14:31] assertnotnull opened #63 "Layout different in firefox"
Two scrollbars are displayed in firefox (v38) when the output is longer than the screen height and the resume button doesn't appear.

[2015-07-08 15:28] kilianc commented on #63
only chrome is supported so far since the whole app uses flex. but I will look into it if it's an easy fix.

[2015-07-08 15:30] kilianc commented on #62
I think I fixed this in: https://github.com/kilianc/rtail/issues/58

[2015-07-08 15:31] kilianc commented on #61
abaahhaha yeah :D that's what I get for posting it on hackernews. I think I fixed this in: #58

[2015-07-08 15:53] assertnotnull commented on #63
flex is supported also in firefox

[2015-07-08 15:56] kilianc commented on #63
@assertnotnull thanks for contributing and reporting ! I know :)

What I meant is that I have been using chrome only functionalities and I didn't test on other browsers, I will give my best shot as soon as I have time!

For example il looks fine on safari. Do you have a screenshot by any chance?

p.s. I closed this by mistake

[2015-07-08 16:01] kilianc commented on #62
@MSylvia thanks for reporting this first of all, I created a stream called "XSS no more" that should prove the fix works but since you're here, two more eyes would not hurt.

[2015-07-08 16:01] MSylvia commented on #62
Ah I see that now. At the time I wrote it the current version of rtail.org had this issue. The fix might not have been deployed.

[2015-07-08 16:05] kilianc commented on #62
@MSylvia yes, the demo is using a s3 bucket cached in ram for many hours. But someone has been faster than me tonight. I had to restart the demo and everything is working now. Along with other fixes and features like ellipsis for long names in the sidebar and resizable sidebar!

Shall we close this?

[2015-07-08 16:07] MSylvia commented on #62
Yes. Seems to be resolved. :)

[2015-07-08 16:07] #62 closed

[2015-07-08 16:20] assertnotnull commented on #63
Sure here it is

![rtail](https://cloud.githubusercontent.com/assets/821567/8575738/9f41f4d0-256b-11e5-8e55-4ddb42c53f54.png)

[2015-07-08 16:23] kilianc commented on #63
@assertnotnull I suspect this may be an issue with flexbox indeed, I will look into it. Stand by!

[2015-07-08 16:41] kilianc commented on #61
ok so I think we can close this @Malet @dark0dave @YottaSecond thanks for contributing, and apologies for the inconvenience!

Feel free to reopen if this happens again.

[2015-07-08 16:41] #61 closed

[2015-07-08 17:39] baptistemarchand opened #64 "Support grep color format"
Hi!

I'm having fun playing with rtail but I want to use it to monitor scripts that use grep to colorize their output and it doesn't seem to work well with rtail.
To reproduce, the following command should display 'lol' in red in the terminal but not in the rtail UI.
[code]
This is the format that grep uses:
[code]
I'm not sure if this is more of an ansi_up issue, or if there are some GREP_COLORS

[2015-07-08 17:48] kilianc commented on #64
@baptistemarchand thanks for contributing.

ANSI parsing apparently is very hard. I spent quite some time looking for the "right" lib without luck. As you can see the color is parsed ~correctly, it may be a problem with `[K`. I will google it up but it's `ansi_up` issue. I am open to suggestions on alternative libs.

![8rdw6zhuc19ae4ydvwpcragx65kzg4q-8ierchasaxy](https://cloud.githubusercontent.co

[2015-07-08 17:57] kilianc commented on #64
try this:
[code]

the problem appears to be grep adding a clearline escape.

ref: http://unix.stackexchange.com/questions/45190/grep-color-adds-ansi-code-esck-this-can-change-displayed-text

[2015-07-08 17:58] kilianc commented on #64
[code]

did we do it? :dancer:

[2015-07-08 19:04] kilianc commented on #57
To be more specific, why aren't you using loggly or logentries, just cost ?

[2015-07-08 19:04] kilianc commented on #52
@timriot wanna PR on this?

[2015-07-08 19:14] timriot commented on #52
@kilianc I'm on it!

[2015-07-08 19:16] timriot commented on #55
+1

[2015-07-08 19:23] timriot commented on #55
Hopefully not a modal alert.

[2015-07-08 20:59] kilianc commented on #55
I was thinking more of a banner at the top, you should be able to close it too

[2015-07-09 00:20] #52 closed

[2015-07-09 07:49] kaihendry commented on #18
I'm keen on this, since I want to use it on a non-interactive Web browser. I.e. I set the home page and it boots to the stream without me having to click on the side bar.

[2015-07-09 07:52] kaihendry opened #66 "Not getting all streamed info"
I am streaming an IRC session with [ii](http://tools.suckless.org/ii/) to my rtail server like so:

    sg:~/irc/irc.freenode.net/#hackerspacesg$ tail -F out | rtail --id hsg --host sg.dabase.com
    2015-07-09 15:33 -!- iilogbot(~iilogbot@sg.dabase.com) has joined #hackerspacesg
    2015-07-09 15:34 <hendry> another test
    2015-07-09 15:34 <hendry> http://sg.dabase.com:8888/#hsg
    2015-07-09

[2015-07-09 08:03] kilianc commented on #66
@kaihendry you are using the right options but your are running `0.1.1` which has those problems. you can manually install the develop branch and use it or just do

`rtail-server --web-version unstable` to fix the `<hendry>`, double timestamp is something I am working on. I will add the option to hide the left column in `v0.2.0`

[2015-07-09 08:04] kilianc commented on #18
@kaihendry keep in mind, once you do it once it will store the active stream and reopen it at boot, but yeah being able to share a link or simply setup a starting point is a good thing. this is landing EOW on `v0.2.0`.

[2015-07-09 08:05] kaihendry commented on #66
Ah, thanks, it works as expected in unstable. http://s.natalian.org/2015-07-09/1436429117_1150x1058.png

[2015-07-09 08:05] #66 closed

[2015-07-09 08:07] kaihendry commented on #18
Ok, well the terminals we use usually have a blank slate for security purposes. Is unstable === 0.2.0? Is it still to come?

[2015-07-09 08:07] kilianc commented on #66
@kaihendry may I ask you more info about your use case? I am interested in knowing how people use this :)

and btw, thanks for contributing!

[2015-07-09 08:10] kilianc commented on #18
still to come, unstable points to develop branch which is a wip on next release cycle. you will see the PR here when this is implemented! I'll make sure to mention you when it lands on develop. you will get it for free since develop is deployed to s3 and you are proxying the unstable files from there!

[2015-07-09 08:11] kaihendry commented on #66
Use case is to show an IRC back channel on a big screen at http://hackerspace.sg/

[2015-07-09 08:13] kilianc commented on #66
That's really cool! Thanks again.

[2015-07-09 08:16] kaihendry opened #67 "Fonts are too small"
Even when adjusted up in the UI.

<img src=http://s.natalian.org/2015-07-09/1436429706_1918x1058.png>

I can't quite figure out which CSS I should attempt to override. Your CSS is quite overly complex. Also, would be nice to have wrapping so I read long lines without interacting with the browser!

[2015-07-09 08:22] kilianc commented on #67
Lines shouldn't soft-wrap, is part of the deal when dealing with log files. But I understand why you want to do it for your use case, let me think how we can fix this.

That said, to make the font bigger you need to change the `.font-size-7` rule to whatever you want.

The CSS is compiled from SASS, that's why is not human friendly, I can assure you it makes sense: https://github.com/kilianc/rtail

[2015-07-09 08:56] baptistemarchand commented on #64
Thanks for your quick answer!
I tried the GREP_COLORS solution yesterday and couldn't get it to work. After some investigation today it appears that BSD grep (the version used on mac) doesn't support the GREP_COLORS variable. I tried it on Linux and it works fine with GNU grep.
This is getting really outside the scope of rtail so you can probably close this issue. I'll let you know if I find an el

[2015-07-09 09:12] vittee opened #68 "Multiple white spaces displayed as single space."
Specifying `white-space:pre` property to `.stream-line-content` solve this problem.

[2015-07-09 17:29] kilianc commented on #68
Thanks this has been bother me for a long time @vittee !!! Do you want to sign this with a PR or do you want me to do it? I will be happy to add you to the contrib list!

[2015-07-09 17:32] kilianc commented on #64
@baptistemarchand I am on mac and the command I pasted here worked!

[code]

Double check if your doing something wrong and thanks for contributing.

[2015-07-09 17:32] #64 closed

[2015-07-09 17:38] kilianc commented on #67
If you fork this I'll be happy to PR on your work, meanwhile I am gonna close this!
Thanks for stopping by ;)

[2015-07-09 17:38] #67 closed

[2015-07-09 17:42] kilianc commented on #68
oh and I almost forgot:

![](http://i.giphy.com/JVdF14CQQH7gs.gif)

[2015-07-09 23:10] #21 closed

[2015-07-09 23:11] #68 closed

[2015-07-10 00:08] vittee commented on #68
Thanks :)

I'm not familiar with Vincent Driessen branching model, and this is just a minor fix.
So I opened this issue and let the team do it instead.

[2015-07-10 00:15] #18 closed

[2015-07-10 00:16] timriot opened #69 "Change tagline to something more concise"
Something similar to @rauchg's comment on twitter, "Instantly stream terminal output to the browser with @socketio".

[2015-07-10 00:18] kilianc commented on #18
@kaihendry ^ landed on develop/unstable

[2015-07-10 00:54] kilianc commented on #69
yep

[2015-07-10 04:07] kaihendry commented on #18
What do I do to update? Relaunch?

[2015-07-10 04:08] kilianc commented on #18
cache has a TTL of 6h, if you want it now, just restart.

[2015-07-10 04:11] kaihendry commented on #18
Hmmm, I just restarted it on the server and the clients haven't got the latest update. I guess I need to restart them manually? :/

[2015-07-10 04:14] kilianc commented on #18
If by clients you mean the `rtail` cli command, no that's unrelated. Rrestarting the server will refetch the webapp. Make sure you have an hard refresh in the browser

[2015-07-10 04:14] kilianc commented on #18
this is running unstable too: https://rtail-demo.lukibear.com/#/streams/rtail.org

[2015-07-10 04:23] kaihendry commented on #18
yes, didn't expect/want to have to hard reset the browser of restarting
the server.

On Fri, 10 Jul 2015, at 12:14 PM, Kilian Ciuffolo wrote:

[2015-07-11 02:07] #17 closed

[2015-07-13 11:09] jamieabc opened #70 "Sometimes message output order different"
`rtail` is a fancy tool, it let's viewing log much easier than before. As I use it through `tail` command, some weird situation occurs:
1. Sometimes `rtail` receives log with different order as tail. For example, output of `tail` is
     aaaaa
     bbbbb
     ccccc
   but output of `rtail` is
     aaaaa
     ccccc
     bbbbb
2. Sometimes `rtail` dropped log messages. For example, output of `tail`

[2015-07-13 12:55] baptistemarchand opened #71 "Dates are not fully removed from the line after being parsed"
Hi,

Great job on the new release!
The date parsing feature is really cool but in some cases parts of the date remains in the line.
For example with nginx logs:
![image](https://cloud.githubusercontent.com/assets/325095/8649895/86fc1458-296e-11e5-8eff-8c053e49c874.png)
The date is parsed correctly but '2015' is not removed from the line.
![image](https://cloud.githubusercontent.com/assets/325095/8

[2015-07-13 12:59] baptistemarchand opened #72 "Add date format in the settings menu"
Hi,

This is an idea for a feature.
It would be great if we could chose the date/time format in the settings menu.
I'm from France and the current format "07/13/15 02:32:41" is not really intuitive.
I would like to be able to select something like "13/07/15 14:32:41".

Thanks!

[2015-07-13 14:08] danbower opened #73 "Aw, Snap!"
Hey,

Our system administrator recently set-up rtail to output apache access logs across all of our servers. Needless to say, we got a lot of log lines. Consequently leaving rtail open in a tab will eventually produce the "Aw, Snap!" chrome error (http://www.wintips.org/wp-content/uploads/2014/02/Aw-Snap-chrome-error.jpg). Presumably there's some data structure that continues to grow until the err

[2015-07-13 15:31] kilianc commented on #73
@danbower looks like a nasty memory leak somewhere, do you have any numbers I can work on? How many streams and lines you got before the incident? Don't worry if you don't know, but if you do it would help a lot.

Thanks for contributing!

[2015-07-13 15:34] kilianc commented on #72
@baptistemarchand yes this is a good idea and something I didn't think of at all. I need some UI for this so I will not be able to quickly patch it, but I can let webapp read the format from the settings and we can set it from chrome console while we wait for a bigger release.

Thanks for contributing @baptistemarchand !

[2015-07-13 15:35] danbower commented on #73
@kilianc Sorry for the lack of info. I'm mainly a backend developer so not particularly well versed in debugging javascript. I've been profiling the page using chrome tools for the past 40 minutes but nothing has jumped out. There's some large spikes though.

I'm going to ask the sym admin if I can provide you with a link to the rtail page. I'll update as more info comes.

[2015-07-13 15:39] kilianc commented on #71
This looks like a bug in the `chrono-node` library that I am using. For the time being I would suggest you turn it off with `--no-parse-date` on the `rtail` cli command and collapse timestamp column.

I will start to add test suite for those examples you provided, but it's kinda hard to have it always work with no predefined format. I agree Nginx is one of those that **must** work. Are you using a

[2015-07-13 15:47] kilianc commented on #73
@danbower spikes are supposed to happen since every new line that comes in is a new DOM node. This is something that I need to prevent with some DOM optimization in the future. If this happens there should be a leak somewhere. Having access on the panel would help a lot!

[2015-07-13 16:01] assertnotnull commented on #71
Not sure if I should write it down here or another bug but the date parsing gets some lines swapped when the output is a multiline JSON object though it's good when I disable it.

[2015-07-13 16:05] kilianc commented on #71
@assertnotnull if you are tailing a multiline JSON structure you need to absolutely turn parsing off otherwise it will replace everything that looks like a date! I am even thinking about turning date parsing off by default. This is one of those instances where I need to wait for some feedback and act accordingly.

[2015-07-13 16:08] danbower commented on #73
@kilianc Just sent an email to the address provided on github entitled "rTail - Aw, Snap!".

Happy debugging!

[2015-07-13 16:31] baptistemarchand commented on #72
Sounds good thanks!

[2015-07-13 16:39] baptistemarchand commented on #71
@kilianc the second format is the output of the command 'date'.

[2015-07-13 17:57] SwaroopH commented on #57
@kilianc I prefer self hosted & open source if possible.

So @adityavm and I have been hacking with rTail today to see if we can get some persistence.
1. Local: Use local webstorage to store whatever the browser has received so can at least maintain some local persistence. Of course, closing the tab loses any data server has received since.
2. Permanent: Store everything on the server side on some

[2015-07-13 18:37] kilianc commented on #57
@SwaroopH you guys are heading to the right direction, what I would do or better what I envision is a pluggable storage with a contract towards a public (super simple) interface. Basically storage adapters.

I would personally go for redis and other key/value storage as first attempt.

Again storing data is the easy part, I am more focused on gathering info about use cases and what you guys are tr

[2015-07-13 18:43] kilianc commented on #73
Thanks @danbower got everything.

[2015-07-13 18:58] SwaroopH commented on #57
Today was day 1 of rTail :) We are in the middle of a product launch and our data scientist wanted access to the logs. We've been wanting a better way to look at our logs as well and that's where rTail fit in.
- Auth was my biggest concern. I have it running behind a nginx with Authentication - not ideal but good for now. I like Github integration as suggested on #44 but I agree with you, this wil

[2015-07-13 19:01] kilianc commented on #57
@SwaroopH thanks for the fantastic insight :100:

[2015-07-15 04:33] cleaton commented on #57
I like the idea of a lightweight log interface. There are already larger heavier solutions for logging available like https://www.graylog.org/ that can be used in self host environment (and is open source)

[2015-07-15 10:30] danbower commented on #73
My pleasure @kilianc. Anything else we can do to help? I see from the readme it's possible to turn on debug mode. Would this assist you?

[2015-07-15 20:31] timriot opened #75 "Spacebar to resume"
To cut down on mouse travel, why not define spacebar as a key to resume the stream?

[2015-07-15 20:41] kilianc commented on #73
@danbower update: I am still working on it, I didn't have much time to go deeper but I can confirm I was able to reproduce it on chrome. On Safari I ran it all night and memory was ok as well as CPU and it was working properly.

On Chrome I run it for about 30m and I had 512mb ram before GC then again ~1mb, which is expected. I don't see memory leaking my end. I am investigating if it's possible t

[2015-07-15 20:44] kilianc commented on #75
I would just add the key binding for now, but at some point we need to have a key binding map like gmail does. I envision cmd+t to switch stream and cmd+f to focus on filter

Thanks for the idea!

![](http://i.giphy.com/PefjZLFUzj3Uc.gif)

[2015-07-15 20:45] timriot commented on #75
After a quick chat with @kilianc, it seems like it would be good to have an indication of the keyboard shortcut within the resume button, which used the spacebar icon to wrap the word spacebar, like this:

![group spacebar](https://cloud.githubusercontent.com/assets/1869621/8709545/cb122332-2af7-11e5-9379-af901dafebd6.png)

[2015-07-16 04:36] kaihendry opened #76 "Web app fails to reconnect after internet outage"
I noticed that if the socket gets broken, the browser based applicaton doesn't seem to reconnect. Am I missing something?

[2015-07-16 07:34] kilianc commented on #76
investigating

[2015-07-16 17:27] #76 closed, assigned to kilianc

[2015-07-16 17:29] kilianc commented on #76
@kaihendry if you are still running `--web-version unstable` you should get this in the next 6h with a hard browser reload. Let me know if it works for you. I am planning on releasing tomorrow.

[2015-07-16 17:33] kilianc commented on #73
@danbower ok, this is harder than expected. I did some digging and I can't find any memory leaks at all. Everything gets cleaned up, number of listeners, memory and number of nodes. I ran my local server for 1h with 10 messages per second with no crash in chrome. It must be a combination of factors.

You can actually help me out running chrome with

`/Applications/Google\ Chrome.app/Contents/MacOS

[2015-07-16 17:41] kilianc opened #77 "connectivity lost indicator"

[2015-07-16 17:42] kilianc commented on #71
cc/ @wanasit

[2015-07-16 17:50] kilianc commented on #77
@timriot what you think about replacing the resume button with an alert for this particular case?

[2015-07-16 18:38] #72 closed, assigned to nobody

[2015-07-16 18:40] kilianc commented on #72
@baptistemarchand you can now open the console and `localforage.setItem('timestampFormat', 'MM/DD/YY')`, it will be available on unstable channel after deploy.

I use moment to format the date, you can see all the options here: http://momentjs.com/docs/#/displaying/

[2015-07-16 18:48] #75 closed, assigned to nobody

[2015-07-16 18:49] kilianc commented on #75
I am gonna open a new ticket for UI and the other key bindings

[2015-07-16 18:51] kilianc commented on #70
@jamieabc this is the nature of `UDP`, you may drop messages and order is not guaranteed. The UI sorts by timestamps so I suspect there may be something we can do about it.

Timestamps are creates by the cli client as soon as a new line comes in, so the order should be honored no matter what.

Do you have the specific lines or a way for me to replicate? OS / Browser etc?

[2015-07-16 19:02] kilianc commented on #63
@assertnotnull it appears to be a bug in firefox implementation ref: http://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox

I think I may be able to force the height of the view to `100vh` and should not affect ~webkit.

[2015-07-16 19:17] #63 closed

[2015-07-16 19:18] kilianc commented on #63
@assertnotnull give it a try with `--web-version unstable`

[2015-07-16 19:20] kilianc opened #78 "make rtail "requireable" and write better test suite + coverage."
related to #59

[2015-07-16 19:27] kilianc commented on #57
@cleaton while I see your point, everything else out there takes forever to setup and leaves this in the hands of the devop team. The main goal of rtail is to remain developer friendly and empower everyone with centralized terminal output, not just logs.

Persistency is somehow a "grown up" thing and if we make it, we need to make it right. The project needs to stay lightweight and _a pipe away_ n

[2015-07-16 19:32] kilianc commented on #63
btw, it turns out it a bug in chrome / webkit and firefox is the only one doing it right O_o

[2015-07-16 19:52] timriot commented on #77
@kilianc I like the intent and I believe that an alert style indicator would increase visibility, as well as provide a larger hit target for resuming. I think we'll have to iterate on the location / styling, but that's how it goes!

[2015-07-16 20:57] assertnotnull commented on #63
Yes I've read that too lol.

[2015-07-17 01:50] jamieabc commented on #70
Currently we use `rtail` to show mysql slow log using following command `tail -f mysql-slow-.log | rtail`. In some cases, mysql will output 50+ messages in 1 second, for this situation, we will see message order changed or dropped. I think other circumstances that generates messages 50+ per second will have same effect.

[2015-07-17 01:53] kilianc commented on #70
thanks for giving little more context. I will run a test myself with high throughput and see if I can manage to reproduce it.
- Are you guys running latest ?
- is `rtail-server` local, same LAN, or WAN ?

[2015-07-17 04:14] kaihendry commented on #76
Hmm, I just restarted `sudo rtail-server --web-version unstable --wh 172.31.10.190 --uh 172.31.10.190` and now it doesn't seem to work at all...

http://sg.dabase.com:8888/#/streams/hsg

[2015-07-17 05:24] kilianc commented on #76
@kaihendry prob cache? The link you posted works for me

[2015-07-17 05:29] kaihendry commented on #76
Oh so it does. Apologies for the noise. Thank you!

[2015-07-17 05:33] kilianc commented on #76
@kaihendry don't apologize man, you have been super useful!!!!!!!! Here's a thank you gif for ya:

![](http://i.giphy.com/JVdF14CQQH7gs.gif)

[2015-07-17 08:11] danbower commented on #73
@kilianc The system administrator noticed some connections from a Brazilian IP so has taken the rTail page offline for the time being. Hopefully we can put it behind some authentication. Will keep you posted.

[2015-07-17 09:00] baptistemarchand commented on #72
Thank you! :+1:

[2015-07-18 06:18] kaihendry opened #80 "Incomplete log"
![missing-whole-log](https://cloud.githubusercontent.com/assets/765871/8760577/bb8390ce-2d57-11e5-96bb-be4586b7722d.png)

Not entirely sure how to test which version I am running: http://sg.dabase.com:8888/#/streams/hsg

The last line where I say "tes" is what I expected to see on the browser!

[2015-07-18 06:31] kilianc commented on #80
I see `tes`, it's just up at the top. I think you have inverted order in settings

[2015-07-18 06:32] kilianc commented on #80
btw, version si `rtail --version` or `rtail-server --version` and in the `( i )` icon in the webapp :smile:

[2015-07-18 06:49] jamieabc commented on #70
Previous running version is 0.2.0, I have tested latest version (0.2.1) and message order changed/dropped still happens. Currently I run `rtail-server' and 'rtail' both on same local computer. I am not sure if it helps, looks like 150+ messages popped in a second.

Log from `mysql-slow.log` using command `tail -f mysql-slow.log | rtail`:
    Time: 150718 15:35:24
    # User@Host: admin[admin] @  [

[2015-07-18 09:24] cleaton commented on #57
But if people are investigating adding more persistence to rtail, I think my suggestion would be kafka. One way could be to have rtail server display kafka topics as streams and consume from them. Or modify the ui to to fetch data from a restful kafka source like the one provided by confluent. There is no need to modify the rtail client as there are already powerful solutions to tail logs and forw

[2015-07-18 11:12] kaihendry commented on #80
Oh, how do I not have it NOT invert please, without manually going into the gear icon upon http://sg.dabase.com:8888/#/streams/hsg ? Since we are just pointing a Webconverger instance to the page we want rendered by URL. Thanks!

[2015-07-18 17:41] kilianc commented on #80
It doesn't default to that behavior, anyway, this is not this right place for this conversation, do you mind hopping in gitter?

[2015-07-18 17:41] #80 closed, assigned to nobody

[2015-07-21 14:15] SwaroopH commented on #24
What do you plan on tracking?

[2015-07-21 14:29] SwaroopH commented on #45
I know a smart person would hide this behind a reverse proxy/VPN but I was really hoping we should make it a little and safer for new people trying this out. One of things I realized when setting up rTail was how easy it was to setup and forget :stuck_out_tongue_winking_eye:

TLS would be a nice first have. But someone looking to find stuff like this will do port scans and land at the url anyway.

[2015-07-24 15:42] kaihendry opened #81 "What time zone in the time in?"
http://sg.dabase.com:8888/#/streams/hsg

![time](https://cloud.githubusercontent.com/assets/765871/8878411/61d3dcae-325d-11e5-81bd-026bb747061f.png)

Doesn't seem to correspond to my browser's or server's localtime...

What am I missing?

[2015-07-29 19:33] kilianc commented on #81
it should be your browser local time, are you using the parse date functionality (does the log line contain a timestamp?)

[2015-07-30 09:52] kaihendry commented on #81
Yes the log for example contains:

[code]

But it appears as:

[code]

[2015-07-30 09:55] kaihendry opened #82 "Better CSS to focus on text"
Hi guys, do you have any suggestions how I can make the text take the entire iframe?

http://s.natalian.org/2015-07-30/more-text.png

And make it larger?

[2015-07-31 00:01] dekz opened #83 "Delete streams which are no longer required"
UI element to delete streams which are no longer required

[2015-08-01 11:19] elis opened #84 "Suggestion: use Clusterize.js for infinite scrolling"
clusterize.js makes it relatively simple to implement infinite scrolling on massive amounts of data. It is limited in that it works best if each line is the exact height as the rest, but it's easily worked around in this case since we can breakup lines of large streams.

[2015-08-04 09:09] kaihendry opened #86 "Doesn't appear to work from within an iframe"
It loads alright, but it doesn't seem to update. E.g. http://frame.dabase.com/

[2015-08-04 10:08] kaihendry opened #87 "Howto reverse proxy via nginx"
<img src=http://s.natalian.org/2015-08-04/1438682883_958x1058.png>

How does one reverse proxy rtail?

[code]

[2015-08-04 17:38] kilianc commented on #87
Thanks for contributing @kaihendry, please move this question to a nginx forum  or gitter

[2015-08-04 17:38] #87 closed, assigned to nobody

[2015-08-04 22:18] Schabernack opened #88 "Parsing dates fails if reponse contains timestamp"
This is the response from the server:

[code]

In rtail the response looks like this:

[code]

the rest is cut off and appears at the very top of the file with the timestamp set to part of the response:

[code]

[2015-08-05 01:51] Schabernack opened #89 "Timestamp parsing ignores milliseconds"
The following line:

[code]

Shows up in rtail like this:

[code]

The First line is the timestamp that is detected by rtail. The second line is the log as shown by rtail: `369]` should either be discarded or preferably be part of the timestamp.

[2015-08-05 03:18] kilianc commented on #89
Yes I think rtail needs to replace the `chrono` library with something else. For the time being please disable the date parsing

[2015-08-05 03:43] Schabernack commented on #89
Thanks. Disabling date parsing also helps with Issue #88 .

[2015-08-05 09:07] kaihendry commented on #87
I eventually figured it out. Wouldn't you want to document this somewhere?

[code]

[2015-08-05 09:23] kaihendry commented on #82
Any tips to where to override the CSS? Simply way to set `.sidebar {display: none;}`

[2015-08-11 03:57] kaihendry commented on #67
What are the steps to have my own user modifications to your style sheet? I.e. remove sidebar? Fork it? https://youtu.be/Xr1UzmNH3GU

[2015-08-12 21:44] timriot opened #90 "UI to hide sidebar"
Per https://www.youtube.com/watch?v=Xr1UzmNH3GU&feature=youtu.be, I believe that a simple widget to maxmize log output and minimize the sidebar is in order.

[2015-08-12 22:21] timriot commented on #90
Needs a keyboard shortie, too.

[2015-08-13 05:45] kaihendry opened #91 "Socket seems to go stale"
Do you think you could add something in the UI, to show the socket is open and active?

For some reason or another my client seems to go stale and I'm assuming it's lost connection.

[2015-08-18 00:40] kilianc commented on #91
Yes this is on our radar see: https://github.com/kilianc/rtail/issues/77

[2015-08-22 00:17] thelinuxlich opened #92 "Not receiving logs from systemd service"
echo on the terminal works, but a node.js systemd service doesn't :(

[2015-08-24 15:44] Mmdixon opened #93 "Optional or variable client-side display buffer"
Display seems to limit to 100 lines. Sometimes a message coming in (like a stacktrace) is more than 100 lines and would be nice to see the whole thing.

[2015-08-24 16:44] kilianc commented on #93
Hi and thanks for contributing!

See issue https://github.com/kilianc/rtail/issues/42 - in future releases we will handle situations like these but by the time being 100 seems an acceptable number. I apologize for the issue in your specific use case!

[2015-08-24 16:44] #93 closed, assigned to nobody

[2015-09-16 20:16] kilianc commented on #92
@thelinuxlich did you figure what's wrong?

[2015-09-16 20:19] kilianc commented on #88
v0.3.0 will turn timestamp parsing by default and we will implement timestamp parsing on our own as new use cases will come in. The library that we are using right now is not cutting it for us.

[2015-09-16 20:20] kilianc commented on #86
I don't know why but it should, that's how it works on rtail.org

[2015-09-16 20:21] kilianc commented on #86
The link you posted seems to be working ok, you still need help? I am closing it, but feel free to reopen in case.

[2015-09-16 20:21] thelinuxlich commented on #92
I've did a hack, created a rtail service which people can use for now:

[code]

[2015-09-16 20:21] kilianc commented on #84
@elis I will look into this thanks man!

[2015-09-16 20:23] kilianc commented on #81
in this case the timestamp doesn't contain a timezone so UTC is assumed I think, that's why.

[2015-09-16 20:24] kilianc commented on #92
Oh cool, but I still want to know if the issue was your particular use case or systemd or in rtail, if it's the second I want to fix it.

[2015-09-16 20:28] thelinuxlich commented on #92
I don't have enough knowledge to say it's all systemd fault

[2015-09-16 20:29] kilianc commented on #92
what happens if you do `> file.log` ? what is the exact command you are trying to launch ?

[2015-09-16 20:40] thelinuxlich commented on #92
tailing the stdout or redirecting inside the service doesn't work :(

[2015-09-17 05:21] kaihendry commented on #86
It's still a problem. It happens after a period of time. I don't have an option to re-open.

[2015-09-17 16:41] kilianc commented on #86
ok investigating, if I keep open the iframe it should happen after a bit?

[2015-09-24 03:08] mingfang commented on #57
+1
We need persistence.
We recently switched from Kibana to Graylog but they are not as good as rtail.
I also think  kafka may be a good solution.
But agree that the challenge is in the UI changes to control the replay of logs.

[2015-09-24 03:49] kilianc commented on #57
+1 :D

[2015-09-25 14:49] kaihendry commented on #82
As you can see from http://frame.dabase.com/ half the screen in the rtail iframe is that sidebar I have not been able to switch off :/

[2015-09-26 00:45] mingfang commented on #57
I build a POC of Kafka integration here https://github.com/mingfang/rtail/commit/4e38614b3097c9824ffa51eb1f6b23864e9b1d13
This is just a POC and the hardest parts are yet to be done.

I use fluentd with it's kafka plugin to feed into kafka.
[code]

[2015-09-28 06:32] shekhirin opened #94 "24 hour format"
How to enable 24 hour format of time in left side of log?

[2015-10-08 19:19] astanciu opened #95 "Building under Node 4"
FYI, if anyone needs to build this under Node 4, you'll need to modify package.json and replace the `highlight.js` dep with this:
 `"highlight.js": "git+https://github.com/isagalaev/highlight.js.git#node-4.0.0",`

[2015-10-08 19:20] kilianc commented on #95
thanks @astanciu I am aware and I am working on a new release, highlight.js releases are messed up...

[2015-10-10 06:32] jdrews commented on #90
Seconded. Maximizing log output would be great!

[2015-10-10 07:06] jdrews commented on #82
Related to #90.

But I agree. Hiding/collapsing sidebar would be useful. Anything to increase area for useable logs is welcome.

[2015-10-10 07:10] jdrews opened #96 "Syntax highlighting / colorize support"
Being able to colorize/ syntax highlight logs would be useful.

Use case I envision is highlighting lines in red when ERROR shows up, and so on and so forth for other log levels.

[2015-10-10 07:17] jdrews opened #97 "Support for third party log sources"
Providing a means for third parties to push logs to rtail-server would be useful. I would expect some configurable form of delineation to specify stream source, etc and a general form of the message to be sent.
Example from the log.io page:
https://github.com/NarrativeScience/Log.io#server-tcp-interface

Particularly useful when logs originate from systems that do not have unix pipes. (Windows)

[2015-10-10 07:28] jdrews opened #98 "Windows Support"
Support for windows systems would be greatly appreciated.

For those of us unfortunate enough to sysadmin Windows boxes, not having access over SSH to "tail" things can be rather annoying. rTail could really fill a niche here. Being able to point it to plain text logs from services and applications on Windows systems (It is probably out of scope to include Windows Event Log) and allow others to wa

[2015-10-10 15:10] kilianc commented on #96
Syntax highlighting it's supported for JSON and ANSI colors work already. What exactly do you need?

[2015-10-10 19:48] astanciu opened #100 "Refresh doesn't resume"
When you are on a specific stream (/app/#/streams/somestream123) and you refresh the browser, the stream doesn't resume.

The page refresh triggers the `$stateChangeStart` which then calls `ctrl.selectStream` which then calls `ctrl.refresh`, but in there you're breaking out if the state isn't paused:
https://github.com/kilianc/rtail/blob/develop/app/app.ejs#L155
If you comment this line out, it wo

[2015-10-10 19:49] kilianc commented on #100
@astanciu thanks for reporting this. I am on it.

[2015-10-29 17:14] kilianc commented on #96
@jdrews thanks for contributing feel free to reopen this in case I didn't answer your question!

[2015-10-29 17:14] #96 closed, assigned to nobody

[2015-10-29 17:16] kilianc commented on #97
@jdrews thanks for stopping by!

That's a neat Idea. The protocol is very simple and I will add this to my to-do list. I think just a quick section in the readme is enough, is just a matter of describing the object structure.

Eventually I would love to write a test suite that third party can run.

[2015-10-29 17:26] jdrews commented on #96
Ah I didn't realize ANSI Colors were accepted. That might work. I will investigate.

Here's the scenario: I have a ton of log4j/slf4j/logback java logs on (unfortunately) Windows systems. I'd like to view them remotely without having to Remote Desktop to these servers. And on top of that I'd like the logs to be colored based on severity levels (e.g. if there is WARN in line, mark line yellow, ERRO

[2015-10-29 17:28] kilianc commented on #96
yeah this helps. so basically you were looking to have rtail client to do the coloring instead of sed?

[2015-10-29 17:34] kilianc commented on #96
That may be an idea for front end. regexp patterns to switch the css of the line in question...

[2015-10-29 17:35] #84 closed, assigned to nobody

[2015-10-29 17:36] jdrews commented on #96
Yeah that was the idea. Regular expressions to change colors of lines would be great.

If this is something that could be saved in a config file or something like that so we didn't have to enter it in all the time would be much appreciated as well.

[2015-10-29 17:40] #69 closed

[2015-11-02 13:10] eush77 opened #101 "Message count"
I would like UI to display message count somewhere at the top.

It would be nice to be able to filter a log and see how many times a particular event happened.

Is this a feature rtail UI could have at some point?

[2015-11-02 15:59] kilianc commented on #101
@eush77 thanks for contributing!

Do you mind explaining your use case?

[2015-11-02 16:22] eush77 commented on #101
I was just studying the logs of the program I'm working on and found a need
to gather some basic statistics on the messages the logs are composed of
(basically `sort |uniq -c`, to compare two messages with each other based
on the number of times they appear in the log), so I switched to the shell
and did just that.

However, since the messages are already in the DOM and in some model in JS
I guess

[2015-11-02 16:43] kilianc commented on #101
It sounds a little bit specific to your use case to be honest. Considering that dynamic (regexp) filters with notifications, colors, stats, etc will be part of rtail soon this will be probably covered by that.

I will go ahead and close this but feel free to move forward the conversation if needed.

Thanks again @eush77 !

[2015-11-02 16:43] #101 closed, assigned to nobody

[2015-11-30 23:43] kilianc opened #102 "Implement infinite scrolling and allow bigger buffers"
discussions #84 #57

[2015-12-04 22:48] ghost opened #103 "How to use rtail on android phone?"
Is there any way to see `rtail` using smartphone?

I had established ssh connection to laptop via android ssh-client `connectbot`, but page still is not loadable.

Can someone help?

[2015-12-05 18:22] kilianc commented on #103
@a93ushakov not sure I understand what you are trying to do and why you are mentioning `ssh` from your phone.

In order to reach rtail webapp just type the webapp url on your smartphone. If it's running on localhost be sure to use `--web-host 0.0.0.0` and access the interface with you `LAN` ip address.

Just to be clear, rtail is not supported on mobile devices

[2015-12-05 23:08] kilianc opened #104 "TypeError: Cannot read property 'headers' of undefined"
[code]

[2015-12-19 15:57] oldgregg-zz opened #105 "rtail doesn't handle newlines well"
Hello! I'm using rtail for some logging, and sometimes the logs I send to it are multi-line (as in the event of a python exception + traceback). Right now, the lines get stuffed into the single line, and overlap one another. Is there a method to instead show the first line w/ timestamp, then subsequent lines? keeping them in the same "record" is alright. Thanks!

[2015-12-19 16:22] kilianc commented on #105
@oldgregg thanks for giving rtail a try.

rtail only understands newline separated logs, which is pretty standard. What you describe seems like a bug because at least you should be able to see each line of your stack trace as separate like, the goal is to have 1:1 with the terminal.

Could you send me a screenshot? If it contains sensitive data just send me an email or a tweet.

[2015-12-19 16:22] #103 closed, assigned to kilianc

[2015-12-19 22:26] oldgregg-zz commented on #105
@kilianc - I just came back to let you know this is not a bug - it was an error with the way I was dumping the python exceptions. Sorry to get you spun up!

However, I do think there might be some value in wrapping lines that are "too long", so you don't get a left/right scrollbar. Your thoughts? If I get a few free cycles and can test it, I'll submit a pull request.

[2015-12-20 01:53] #105 closed, assigned to nobody

[2015-12-20 19:37] eresgie commented on #94
:+1:

[2016-01-05 00:31] MWers opened #106 "View multiple streams in tiled windows"
Is it possible to view multiple streams at once in a tiled display? I'd love to use rtail to recreate something like the following:

<img width="1135" alt="2__matt_matthews-macbook-pro_____zsh_" src="https://cloud.githubusercontent.com/assets/808995/12104462/73643fb2-b300-11e5-8e86-e80a3cea713c.png">

Is that what this issue references?

https://github.com/kilianc/rtail/issues/29

[2016-01-05 10:50] kilianc commented on #106
@MWers yes it is, we have little to no data on this particular use case and we're trying to understand the best approach, I'll keep this open and let you know as soon as there's something to discuss.

thanks for stopping by!

[2016-01-11 10:56] megastef commented on #57
Hi my optinion is that rtail is great for realtime view and storing logs can be done in parallel - rtail should focus on best realtime log view experience including a short history of logs. I see a lot of work in other things like better rendering options for structured/JSON logs - like field selection in the display (just one example).

E.g.:
I use https://github.com/sematext/logagent-js for pars

[2016-01-11 11:08] megastef opened #107 "Render JSON logs as table view with field selection"
I suggest to add an option to render structured logs (e.g. JSON) as table view and select the most relevant fields to display (like "@timestamp","message","host","severity"). If one forwards e.g. journald JSON there are simply too many fields to see the most relevant "MESSAGE" field.

[2016-01-11 13:57] kilianc commented on #107
That's a good idea, how do you envision defining such fields? It sounds like a map is needed as part of the rtail client CLI, but something in the webapp could work as well... the only issue is missing persistence so you would not be able to carry your settings with you on a different browser or after a cache cleanup.

[2016-01-11 14:06] megastef commented on #107
The default could be some standard fields like 'msg' (bunyan), 'message' or 'MESSAGE' (journald).
Well I'm not good in UI design:
1) Place a field selector with field names (seen in last N Logs per stream) on next to the filter area to select fields.
2) Or expand the side panel area and display the field names below a stream and list there the possible fields.
3) For the start and experiment with

[2016-01-11 14:08] kilianc commented on #107
+1 on the timestamp as part of the payload, I'll digest all this and get back to you

[2016-01-18 06:18] kevintraver opened #108 "Override defaults"
It would be nice override defaults in a config file. Maybe something like `~/.rtail`

[2016-01-18 17:44] kilianc commented on #108
Hey @kevintraver thanks for stopping by.

In particular are you referring to the server or the client ? I have thought about this in the past but people seem to be very opinionated about file naming, location, format etc...

I would more likely add a `--config-file` using the [config](https://github.com/lorenwest/node-config) module on npm which will give us OOTB support for `yml`, `json`, `hjson`

[2016-01-24 08:45] rictorres commented on #87
thanks, this helped me a lot :+1:

[2016-01-27 17:41] chilcano opened #109 "What *nix commands ca be used to send log-events to rTail Server ?"
Hello Kilian,
I can't see any log-events in browser when using [`multitail`](https://github.com/flok99/multitail) instead of `tail` to send to rTail Server.

Seems that `multitail` adds hidden chars to log-events that rTail Server can't read.
I am using this command:

[code]

In the rTail Server (browser) I can't see anything.
Any idea?.

Regards.

[2016-01-27 17:47] kilianc commented on #109
Hey @chilcano thanks for contributing, in general everything that outputs something can be piped into rtail, run this test:

[code]

what you see in the file should go in rtail as well.

I don't know the details of implementation and usage for `multitail` but for example with `grep` I often need to turn buffering off.

try `DEBUG=rtail:* rtail-server` to check if messages are coming in.

Let me kn

[2016-01-27 17:57] chilcano commented on #109
I have verified that `multitail` can't be piped to rTail because `multitail` adds special chars before every line. That's the reason that rTail Server doesn't receive any log-event.
I've used `netcat` to check it.

[code]

In other server the `netcat` is listening on `9192` UDP port. This `netcat` shown the log-events but before clean the screen and update the Terminal title, etc.

Regards.

[2016-01-27 18:01] kilianc commented on #109
@chilcano `rtail-server` splits by newline, it's very stupid regarding what gets in. it should grab every new line. If multitail doesn't use newlines that's ok.

I would have agreed if the output on rtail client was messy because of the extra ANSI chars but not seeing anything at all is not correct.

Another test:

[code]

does it work ?

[2016-01-27 18:24] chilcano commented on #109
It didn't work.

Thanks.

[2016-01-27 18:29] kilianc commented on #109
Interesting, I'll leave this open and check it out myself, I am curious now :)

[2016-02-01 07:32] ghost opened #110 "tmux echo loops in several panes -> in rtail stream mixed output from several panes"
After clicking at stream link output becomes mixed (from other tmux panes).

[2016-02-01 16:42] kilianc commented on #110
Hey @a93ushakov do you mind providing the exact steps to reproduce this?

[2016-02-01 16:54] ghost commented on #110
[code]

[code]

[2016-02-01 16:59] ghost commented on #110
![2016-02-01-185820_1600x900_scrot](https://cloud.githubusercontent.com/assets/13286493/12724294/f1160e1a-c915-11e5-82e4-4c8ff453f29b.png)

[2016-02-01 17:02] kilianc commented on #110
On paper this should work, but I never used `tmux` so I need to dig into the issue to understand why this is happening. `rtail` is so stupid simple that it seems almost impossible this could happen, really weird.

Thanks for reporting @a93ushakov !

[2016-02-01 18:58] ghost commented on #110
Thank you for reply - on github developer's quick response is rarity.

Maybe this help.

[code]

[2016-02-19 18:05] drakej opened #111 "daemonize programs"
Just a nice to have but it would be much easier if there was a built in option or some sort of functionality to daemonize rtail-server. As is one has to build their own init scripts and scaffolding to support this.

Something similar to this would be nice for the client rtail program as well. Value added on that would be not just to daemonize the client, but provide it with a configuration file th

[2016-02-19 19:13] kilianc commented on #111
Thanks so much @drakej for stopping by and taking the time to share this, you made my day.

I agree with you this is necessary, and this is the kind of feedback that I am always looking for, real people's problems.

I'll think about what's the best way to "opinionate" deployment of rtail on a large scale real life app. Probably a `rtail-manager` with a nice conf file you can add to your version co

[2016-02-19 19:27] drakej commented on #111
Thanks for the quick response. I was actually able to create an init script around the rtail-server process on CentOS pretty easily. It's already working and appears stable but that was the easy part since I'm only targeting one process as a service on the distro I use. Getting that working on all platforms would be more work.

As far as the clients, that is the trickier one and an rtail-manager t

[2016-02-24 15:07] mfornasa commented on #110
Same issue here. @kilianc please let me know if you can't reproduce.

[2016-03-19 09:11] kbariotis opened #112 "Do not automatically scroll to top of the screen"
When new entries are landing into the logs area, do not automatically scroll to the top of the screen. The user may stop somewhere below to examine a set of logs.

I am pretty sure this has a close relation to #57 and #102. Opening for reference.

Papertrail has a nice implementation of this. When the user is somewhere in the middle of the page and new logs have arrived a notification will show up

[2016-03-19 10:16] kbariotis commented on #108
@kilianc the config module expects to find the configuration files inside the root of the project. But many people will install rtail globally. Having a ~/.rtail config file seems more appropriate.

[2016-03-19 20:45] kilianc commented on #112
@kbariotis thank for contributing and taking the time to leave a message :)

rtail ui already pauses the socket on scroll, is that what you are suggesting ?

[2016-03-21 11:34] gkudelis commented on #111
Hey! Just my two cents: I'm running both rtail-server and the client using supervisord. Makes it easy to manage/restart separate processes and keeps them alive in case something unexpected happens.

[2016-03-25 13:27] mfornasa commented on #110
Problem is here: https://github.com/kilianc/rtail/blob/develop/cli/rtail-server.js#L111.
The server fails to leave the rooms.

For example, after:
- Selecting stream `a`
- Selecting stream `b`
- Selecting stream `a`

`socket.rooms` is:

[code]

I'm not sure what the `/#64bZvp1LYpHSMusqAAAB` blurb is, but `socket.leave(socket.rooms[0])` acts on it instead of acting on `a` or `b`.

[2016-03-25 13:33] mfornasa commented on #110
Changing line 111 with:

[code]

solves this for me.

[2016-03-25 13:52] mfornasa commented on #110
PR: https://github.com/kilianc/rtail/pull/114

[2016-04-28 05:05] ksclark opened #116 "Streams Mixed??"
When running the following commands.

tail -f /var/webapps/eventscheduler.log | rtail --id 'test0'
tail -f /var/webapps/tracker.log | rtail --id 'test1'

If I click on stream 'test1' and then click on stream 'test0' or vice versa.  The log data from both files appear in both streams in the web app.

Any ideas?

[2016-04-28 15:58] megastef commented on #78
This was a hack (sorry), I had to modify process.arv to run the server in-process:
https://github.com/sematext/logagent-js/blob/master/bin/logagent.js#L342-L344

I would appreciate a constructor.

[2016-04-28 16:00] megastef commented on #78
To send logs I had to implement the rtail protocol, so a require for the client, just passing the Object would be nice.
https://github.com/sematext/logagent-js/blob/master/bin/logagent.js#L282-L297

Originally the whole Object was sent to rtail, but because of missing options to render JSON (e.g. define in the UI to show only message field), I've decided then to send only the message field.

[2016-04-30 15:31] kilianc commented on #116
This shouldn't be happening. Are you 100% sure you are not writing the two files with the same content?

OS / Node version / rtail version?

[2016-05-07 07:41] ageorgios opened #117 "Monitor folder with logs"
Is there a way to monitor multiple .log files in a folder?

[2016-05-11 14:48] maaronking commented on #116
I am seeing the same issue.  If stay on one stream, everything looks correct.  However, if I click on another stream and then back again, it mixes the two streams.

[code]

[code]

[code]

[code]

[2016-05-11 15:09] maaronking commented on #116
Not sure if this is related, but the web console prints `test: backlog received 100
bundle.min.js:18` each time i switch back and forth to various streams (obviously where 'test' is the name of the stream that I switched to).

[2016-05-11 15:15] maaronking commented on #116
Also, if you switch to a stream and start seeing logs from the previous, if you refresh the page, you only see the logs from the current stream again.

[2016-05-11 17:14] kilianc commented on #116
Yeah I think something changed somewhere in the deps tree or in the browser API because it used to work. I am def need to look into it. Thanks for reporting and adding more info, it's very helpful.

[2016-06-14 07:49] megastef commented on #117
Hi,

pls. check [logagent-js examples](https://sematext.github.io/logagent-js/cli-parameters/) , plays well with rtail. It ships logs via rtail protocol to rtail server (and could store it in paralel to Elasticsearch or Logsene). You will ses each file as a separate stream.
To ship you logs to rtail (without storage option):
Install logagent:
`npm i logagent -g`
forward logs, file names selected b

[2016-06-26 17:09] ploef commented on #87
Hi,

This seems to work but onfortunately I can't use the root of the server. Did anybody get this to work using an relative root? Like:

location /rtail

[2016-06-30 09:20] ploef commented on #87
Does anybody know how to make this work?

location /logs {
        proxy_pass http://localhost:8888;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        #proxy_set_header Host $host;
        #proxy_set_header X-Real-IP $remote_addr;
        #proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        #proxy

[2016-06-30 09:53] rictorres commented on #87
can you paste your whole nginx config?

[2016-06-30 11:40] ploef commented on #87
Hi,

Next to the standard nginx.conf (nothing changed there) I use this config in the config.d folder.
I would like rtail to be accessed by http://myserver/logs.
Unfortunately, this results in a 403 error:

[code]

[2016-07-03 09:01] ploef commented on #87
Hi,

Does anybody have an idea how to get this working. Running rtail server on the root of server is no problem, but I'm realy hoping it would be possible to use virtual roots so I can run multiple servers on the same port.

Regards,
Peter

[2016-07-06 08:25] rictorres opened #118 "Memory issues"
I have a server running these:

[code]

Should `rtail-server` be using 500MB+ of memory? It's a server handling less than 100 requests per day.

[2016-07-06 16:55] kilianc commented on #118
@rictorres it depends on stdin back-pressure. What happens with all clients off?

[2016-07-13 19:50] rictorres commented on #118
i will test that, but the clients are really light-weight.

[2016-07-13 20:44] kilianc commented on #118
I know, but they can create back-pressure if they push too much. Do you have
high data volume?

**~**

*\*
**

**Kilian Ciuffolo******

__

_+1 (415) 349-1822_

_This email and any files transmitted with it are confidential and intended
solely for the use of the individual or entity to whom they are addressed. If
you have received this email in error please notify the system manager. This
message

[2016-07-13 21:02] rictorres commented on #118
nope.. less than 100 reqs/day and logs are just basic stuff, no huge json objects.
that's why i find it strange :)

[2016-07-18 14:09] rictorres commented on #118
[code]

it seems stable now, however there are no clients connected.

[2016-07-18 16:31] kilianc commented on #118
@rictorres def a memory leak.

[2016-07-26 23:53] demobox commented on #116
Seeing the same issue - if there's any data we can provide that can help chase this one down, please let me know!

[2016-08-17 09:57] Nitrosito opened #119 "Browser Freeze with 122 files in RTAIL"
Hello,

I'm launching about 20 rtail clients (streams) from 120 different log files over a rtail server. Many of them have several updates per second. The client browser reaches 100% CPU and hangs.

The server seems fine, average CPU load, normal memory.

Is Rtail ready to support this load? Is there any way to increase capacity on the server or to restrict the stream updates just to the selected

[2016-10-17 07:57] Garulf commented on #117
Stumbled upon this issue and megastef's solution seems perfect! Except no matter how i format the port or host (0.0.0.0, 127.0.0.1) rTail just sits there empty. I can send rTail logs manually however.

[2016-10-17 21:05] megastef commented on #117
Please note [logagent](https://github.com/sematext/logagent-js) made some progress:
- package name changed
- cli arguments changed

[code]

[2016-12-12 08:44] joaopsys opened #120 "Messages appearing on wrong streams"
Hi, I don't know if rtail is still under development, but I might as well just report this anyway:

At the moment I have 10 streams and sometimes I randomly get lines from 1 stream into another stream. They vanish as soon as I switch streams back and forth (they go to their correct stream).

For each stream, my process list shows this:

`tail -F log1.log`
`node --harmony /usr/bin/rtail -m --name l

[2016-12-12 08:50] joaopsys commented on #120
I'm also feeling this has something to do with the timestamp ordering. Since my streams all have different timestamps (almost different timezones)

[2016-12-13 02:27] joaopsys commented on #120
Nope, nothing to do with the timestamps, I set --parse-date false in every rtail, and the issue still remains.

[2016-12-13 20:26] dnmgns commented on #120
I'm also experiencing this issue (using latest version).

[2017-02-19 14:50] WalterGR opened #121 "SSL certificates expired for rtail.org and rtail-demo.lukibear.com"
Accessing https://rtail.org/ in Firefox shows:

[code]

Accessing http://rtail.org/ succeeds but in the in-page browser shows:

[code]

[2017-02-28 19:45] kilianc commented on #121
@WalterGR yes, I just saw this myself, I have been traveling. Thanks for reporting!

[2017-02-28 19:45] #121 closed, assigned to nobody

[2017-04-07 03:06] alycd opened #122 "Searching / Filtering JSON"
Could someone provide some examples of filtering JSON.

I've tried regex or simple word matching to no avail.

Heres an example, say I wanted to match the word "mood" value. How would I do it in rtail filters?

`{
  "params": {},
  "payload": {
    "trackee_id": 4,
    "ts": "2017-04-05T07:00:00.000Z",
    "track": "mood",
    "status": "ok",
    "tags": [
      "angry"
    ]
  },
  "response": {

[2017-09-09 09:13] shamasis commented on #110
@kilianc this is an amazing project. great work. :-)

I am facing the same issue.

This is easy to reproduce... simply rtail two files with separate `id` where data is getting continuously appended. You'll notice that the output is getting mixed across streams when you switch streams in UI.

I am on latest Ubuntu and latest production rtail. Hope this helps. :-)

I would love if we can release a 0

[2017-09-21 17:53] dhrjklt opened #123 "Stream mixed"
Recently using to view backend logs from prod and test server, most of the time stream mixed with each other but after refresh it become OK.

How to fixed it ???

[2017-09-21 20:19] jfcabral commented on #123
Uhm it seems to be a known issue:
* https://github.com/kilianc/rtail/issues/120
* https://github.com/kilianc/rtail/issues/116
* https://github.com/kilianc/rtail/issues/110

Why don't you try this PR that was supposed to help in this regard:
* https://github.com/kilianc/rtail/pull/114

[2017-10-16 20:51] nestoru commented on #110
Thanks @mfornasa for https://github.com/kilianc/rtail/pull/114/files which IMO should be merged. In the meantime here is a hack:
[code]

[2018-03-01 09:14] xhh0168 opened #124 "How to change the time zone"

[2018-03-14 12:10] #117 closed, assigned to nobody

[2018-03-24 14:45] ghost commented on #111
Spent several hours trying to get rtail working. The installation runs ok. I can start rtail-server manually. I can run commands in the terminal with the rtail command. But I am unable to access output from rtail-server on a web browser. If my web server homepage is at: http://localhost/ , what is the default access address for a running rtail server? Thanks!

[2018-04-13 18:43] chebyte commented on #87
hello there I have the same problem I want to run rtails in a sub path like example.com/logs but I get this error

[code]

seems that is a problem with express

anyone could do that?

[2018-05-11 10:59] Longhanks opened #125 "Cannot run from source"
Hi,

after cloning the project, running `npm install && gulp && npm test`, I wasn't able to run the rtail-server at all. `npm test` fails to find socket.io:

[code]
I've tried to run `npm install --save socket.io`, but it didn't help. Can someone help me to get started?

[2018-06-05 03:36] v0112358 commented on #124
I have the same question. Timestamp on rtail is difference on local log.

[2018-07-18 21:04] rellim78 commented on #87
In Apache, you would do something like this, with a Location directive:

``<Location /logs/>``
``ProxyPass http://127.0.0.1:8888/``
``ProxyPassReverse http://127.0.0.1:8888/``
``</Location>``

Just make sure to add the trailing / in the url, like
``http://domain.tld/logs/``

[2018-07-31 12:31] getAkashJain opened #127 "Increase log buffer size"
Currently rtail web app only shows recent 100 logs lines and other gets clear.
There should be a configuration param to set max log buffer size. 100 is very low because normal stacktrace will have more than 100 lines.

[2018-08-01 09:40] ssbarnea opened #128 "project status: abandoned or to be resurrected"
I do find rtail as an useful project with great potential, probably being one of the few full open-source solutions in that area. Sadly looking at commits, issues, pull requests and forks I realise that is likely that is abandoned.

If there is no hidden agenda for killing that project, I would really love to see it revived and moved under its own github organization where there would be at least

[2018-08-04 18:02] jfcabral commented on #128
Yeah I too think it is a sad to let `rtail` die, I always though it had so much potential!

I agree with you that the best way to keep these kind of projects from dying is to have an organization with multiple people guiding it!

[2018-08-31 15:45] kferrone commented on #128
Oh dang. Yet another great project with no updates and no good alternatives . . .

[2018-08-31 16:48] kilianc commented on #128
I am trying to pick this up this weekend!

[2018-11-24 12:16] Altiano commented on #128
There are many solution for open source project to get funds

[2019-03-31 16:55] IndigoBee commented on #128
@kilianc Hey Kilian, so did you look into it ?

[2019-03-31 21:08] roysG commented on #127
I Agree!
Any update?

[2019-04-17 20:24] Chumillas commented on #121
Still expired @kilianc

[2019-04-26 07:05] tanrobotix opened #129 "Overwrite logs"
rTail is very useful in some case, but can you add the option that I can overwrite the logs instead of append it. Any idea for that!? Thank you very much

[2019-06-04 03:47] xeroxstar opened #130 "The system cannot find the path specified"
Didn't work for me, after i enter `npm install -g rtail` and trying to open the localhost:8888 i get "page not found" and if i run `rtail-server --web-port 8888 --udp-port 9999` i get `The system cannot find the path specified`.

[2019-09-12 13:04] bhvbhushan commented on #127
@kilianc I would like to take this up. However, I am facing some difficulties in running rtail locally. Can you help me with that. Because for me, this is an urgent issue that needs to be fixed.

Thanks !!!

[2019-10-04 07:21] gitedy commented on #130
Your system did not find the rtail binary. This is the reason you geeting this error

[2020-03-23 07:40] dibyajyotiron opened #131 "Not working with pm2 ecosystem files"
Unable to find any documentation which mentions how to use it ecosystem files of pm2.
How do I use this with ecosystem files?
[code]

[2021-03-12 12:48] shekhirin commented on #94
Thanks, I figured it out.

[2021-03-12 12:48] #94 closed, assigned to kilianc

[2021-08-20 09:25] osmboy opened #133 "node and npm version?"

[2021-09-30 00:14] angieology opened #134 "Display formatted hyperlinks"
When displaying stripe logs, there are hyperlinks that opens the stripe dashboard page to the specific event id, for example. In the terminal, the hyperlinks show properly https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda

In rtail however, I'm seeing the unformatted text version of this.

using `stripe listen` [for example](https://stripe.com/docs/stripe-cli/webhooks)

## in term

[2022-02-24 19:53] txt-bmukum opened #135 "Limitations to amount of logs broadcasted by rtail ?"
Hi rtail team! I have a question about the working of the rtail utility:
When rtail get its stdin and start broadcasting its log lines, are connection timeouts likely ? Is there a limitation to the number of log lines it can broadcast? or anything else that would cause incomplete reception of logs ?
If so, how can I configure each of those categories to allow for flexibility.

[2022-06-16 19:55] alexn-s opened #136 "The term '/bin/sh.exe' is not recognized as a name of a cmdlet"
### os
- windows
- shell: powershell v7 >
- terminal env: windows terminal

### code

[code]

### tried

#### modify rtail.ps1
replaced shebang `#!/bin/sh` with: `#!/usr/bin/env node`

#### replaced line22
replaced `"/bin/sh$exe"` with `"powershell.exe"` & `"cmd.exe"`